.App {
  text-align: center;
}

.spin {
  height: 30vmin;
  pointer-events: none;
  animation: spin 3s linear infinite;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-image: url(background-sky-1.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

